{{#concept @this}}
<section data-trackable="concept" aria-label="{{name}}" {{#if responsiveGrids}}data-o-grid-colspan="{{responsiveGrids}}"{{/if}} class="topic-card__myft {{#unless items.length}}topic-card--empty{{/unless}}{{#if lazyLoadImages}} topic-card--lazy-loading-images{{/if}} {{classes}}" {{#if prioritised}}data-prioritised{{/if}}>
		<header class="topic-card__myft-header">
			<p class="topic-card__myft-title">
				<a class="topic-card__concept-link" href="{{url}}" data-trackable="concept-link" aria-label="Go to list of all articles about {{#if prefLabel}}{{prefLabel}}{{else}}{{name}}{{/if}}">
					{{#if prefLabel}}{{prefLabel}}{{else}}{{name}}{{/if}}
				</a>
			</p>

			{{#ifAll flags flags.myFtApiWrite}}
			<div class="topic-card__myft-meta">
				<div class="topic-card__myft-btn topic-card__myft-btn--following">{{> n-myft-ui/myft/templates/follow conceptId=id name=name extraClasses="topic-card__concept-follow" }}</div>
			</div>
			{{/ifAll}}
		</header>
		{{#if items.length}}
			<dl class="topic-card__myft-content">
				<dd class="topic-card__concept-articles-container">
					<ul class="topic-card__concept-articles">
						{{#items}}
							<li class="topic-card__concept-article {{#ifEquals hasBeenRead true}}topic-card__concept-article--read{{/ifEquals}}">
								<a
									class="topic-card__concept-article-link"
									href="{{url}}{{#unless ../isFollowing}}?tagToFollow={{../conceptId}}{{/unless}}{{../referrerTracking}}"
									data-trackable="article"
								>
									<span class="topic-card__classifier-gap">
										<span class="topic-card__concept-article-text">
											{{title}}
										</span>
									</span>
									{{#ifAll @root.flags.premiumContentIndicator isPremium}}
										<span class="topic-card__classifier">Premium</span>
									{{/ifAll}}
								</a>

								<p class="topic-card__concept-article-date">
									<time data-o-component="o-date" class="o-date" datetime="{{publishedDate}}"></time>
								</p>

							</li>
						{{/items}}
					</ul>
				</dd>
			</dl>
		{{else}}
			<div class="topic-card__myft-content">
				<p class="topic-card__concept-empty">
					{{#if nTopicCardEmptyMessage}}
						{{nTopicCardEmptyMessage}}
					{{else}}
						No new articles on this topic
					{{/if}}
				</p>
				<p class="topic-card__concept-empty"><a class="topic-card__concept-empty-link" data-trackable="empty-link" href={{url}}>See more on this topic</a></p>
			</div>
		{{/if}}

		<footer class="topic-card__myft-footer">
			{{#if excessItems.length }}
			<p class="topic-card__excess">
				<a class="topic-card__excess-link" href="{{url}}" data-trackable="excess-stories-link" aria-label="Go to list of all articles about {{#if prefLabel}}{{prefLabel}}{{else}}{{name}}{{/if}}">
					{{ excessItems.length }} more stor{{#ifEquals excessItems.length 1 }}y{{else}}ies{{/ifEquals}}
				</a>
			</p>
			{{/if}}
			<div class="topic-card__myft-btn topic-card__myft-btn--alerts">{{> n-myft-ui/myft/templates/instant-alert conceptId=id name=name extraClasses="topic-card__concept-instant" }}</div>
			{{#if showPrioritiseButton}}
				<span class="myft-pin-divider"></span>
				<form method="post" action="/__myft/api/core/prioritised/concept/{{id}}?method={{#if prioritised}}delete{{else}}put{{/if}}">
					<input type="hidden" value="{{name}}" name="name">
					{{#if directType}}
						<input type="hidden" value="{{directType}}" name="directType">
					{{else}}
						<input type="hidden" value="http://www.ft.com/ontology/concept/Concept" name="directType">
					{{/if}}
					<button
						class="myft-pin-button"
						data-prioritise-button
						data-concept-id="{{id}}"
						data-prioritised="{{#if prioritised}}true{{else}}false{{/if}}"
						{{#if prioritised}}aria-pressed="true"{{/if}}
						>
							<span class="o-buttons-icon__label">{{#if prioritised}}Unpin{{else}}Pin{{/if}}</span>
					</button>
				</form>
			{{/if}}
		</footer>
	</section>
{{/concept}}
