$system-code: 'n-topic-card';

@import 'n-ui-foundations/main';
@import '../../main';
@import '@financial-times/n-myft-ui/components/follow-button/main';

html {
	background: oColorsByName('paper');
}

.topic-card__myft {
	margin: 10px;
} // cretes margins around cards, just so that demo looks a bit better
