.card__classifier-gap:after {
	content: ' ';
	margin-right: 0.11em;
}

.card__classifier {
	@include oTypographySansBold('s', $load-progressively: true);

	vertical-align: 5%;
	padding: 0.1em 0.4em 0.14em;
	background-color: getColor(cold-2);
	color: #ffffff;
	display: inline;

	.card__classifier-gap ~ & { // overrides oTypographySansBold's setting
		line-height: 15px;
		font-size: 15px;

		.card__related-item &,
		.card__concept-article & {
			line-height: 12px;
			font-size: 12px;
		}
	}
}
