.topic-card__concept-link {
	color: oColorsByName('black');
	text-decoration: none;
	border-bottom-width: 0;
	word-wrap: break-word;

	&:hover {
		color: oColorsByName('black-80');
	}
}

.topic-card__concept-sub-heading {
	@include oTypographySans(1);
	margin: 10px 0 0;
}

.topic-card__concept-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topic-card__concept-article {
	@include oTypographySans($scale: 0);
	margin-top: 6px;
	padding-bottom: 6px;

	padding-left: 0;
	position: relative;
	border-bottom: 1px solid oColorsByName('black-10');

	&:last-child {
		border-bottom-width: 0;
	}
}

.topic-card__concept-article--video {
	.topic-card__concept-article-link:before {
		@include conceptArticleIcon('play');
	}
}

.topic-card__concept-article--audio {
	.topic-card__concept-article-link:before {
		@include conceptArticleIcon('audio');
	}
}

.topic-card__concept-article-link {
	color: oColorsByName('black');
	text-decoration: none;
	border-bottom-width: 0;

	&:visited {
		color: oColorsByName('black-50');
	}

	.topic-card__concept-article--read & {
		color: oColorsByName('black-50');
	}
}

.topic-card__concept-article-text {
	display: inline;
	font-size: inherit; // nullify H3's override
	font-weight: inherit; // nullify H3's override

	.topic-card__concept-article-link:hover &,
	.topic-card__concept-article-link:focus & {
		border-bottom: 1px dotted;
	}
}

.topic-card__concept-article-date {
	@include oTypographySans($scale: -2);
	margin-top: oSpacingByName('s2');
	margin-bottom: 0;
	color: oColorsByName('black-60');
	text-transform: uppercase;
}

.topic-card__concept-follow {
	float: right;
}

.topic-card__concept-empty {
	@include oTypographySans($scale: 1);
	margin-top: oSpacingByName('s3');
	padding-left: 45px;
	padding-right: 45px;
	text-align: center;
}
