.card__concept-link {
	@include oColorsFor(topic, text);
	border-bottom: 0;
	word-wrap: break-word;
}

.card__concept-sub-heading {
	@include oTypographySans(1);
	margin: 10px 0 0;
}

.card__concept-articles-container {
	margin: 0;
}

.card__concept-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card__concept-article {
	margin: 8px 0 0;
	padding-left: 15px;
	position: relative;
	@include oTypographySerif(0);

	&:before {
		@include oIconsGetIcon('arrow-right', oColorsGetColorFor('myft'), 20);
		content: '';
		position: absolute;
		top: -1px;
		left: -5px;
	}
}

.card__concept-article-link {
	border-bottom-width: 0;
	color: oColorsGetPaletteColor('black-70');
}

.card__concept-article-text {
	display: inline;
	font-size: inherit; // nullify H3's override
	font-weight: inherit; // nullify H3's override

	.card__concept-article-link:hover &,
	.card__concept-article-link:focus & {
		border-bottom: 1px dotted;
	}
}

.card__concept-follow {
	float: right;
}

.card__concept-empty {
	@include oTypographySerif(1);
	margin: 10px 0 20px;
	text-align: center;
}
