@mixin conceptArticleIcon($icon) {
	@include oIconsContent(
		$icon-name: $icon,
		$color: oColorsByName('white'),
		$size: null
	);
	content: '';
	width: 0.7em;
	height: 0.7em;
	min-width: 12px;
	min-height: 12px;
	margin-right: 0.15em;
	background-color: oColorsByName('slate');
}
