.topic-card__myft {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: oGridGutter();
	overflow: visible;
	background: getColor('white-40');
	border: 1px solid getColor('black-5');
}

.topic-card__myft-header {
	display: flex;
	padding: 0 20px;
}

.topic-card__myft-title {
	@include oTypographySansBold($scale: 1, $progressive: true);
	color: getColor('black');
	flex: 1 1 auto;
	padding-right: 10px;

	&::after {
		@include oTypographyMargin($top: 2);
		content: '';
		display: block;
		width: 85px;
		height: 5px;
		background: getColor('black');
	}
}

.topic-card__myft-meta {
	@include oTypographyMargin($top: 4);
	flex: 1 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.topic-card__myft-content {
	flex-grow: 1;
	margin: 0;
}

.topic-card__myft-footer {
	@include oTypographyMargin($top: 1);
	@include oTypographyPadding($top: 2, $bottom: 0);
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid getColor('black-10');
}

.topic-card__excess {
	@include oTypographySansBold($scale: -1, $progressive: true);
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

.topic-card__excess-link {
	color: getColor('black');
	border-bottom: 0;

	&:hover {
		color: getColor('black-80');
	}
}
