.card__myft {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-top: oGridGutter();
	padding-bottom: oGridGutter();
	overflow: visible;
	background: getColor('white');

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M);
	}
}

.card__myft-header {
	display: flex;
	background: getColor('claret');
	padding: 0 10px 0 0;
}

.card__myft-title {
	@include oTypographySansBold($scale: 2, $progressive: true);
	color: getColor('white');
	flex: 1 1 auto;
	padding-right: 10px;
}

.card__myft-meta {
	@include oTypographyMargin($top: 4);
	flex: 1 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.card__myft-btn--following {
	margin-right: 10px;
}

.card__myft-content {
	border-top: 1px solid rgba(getColorFor('myft'), 0.3);
	flex-grow: 1;
	margin: 0;
}
