.topic-card__myft {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: oSpacingByName('s2') oSpacingByName('s3');
	overflow: visible;
	background: oColorsByName('white-40');
	border: 1px solid oColorsByName('black-5');
	&[data-prioritised] {
		background: oColorsByName('white');
	}
}

.topic-card__myft-header {
	display: flex;
	align-items: center;
}

.topic-card__myft-title {
	@include oTypographySans($scale: 1, $weight: 'semibold');
	color: oColorsByName('black');
	flex: 1 1 auto;
	margin: 0;
	padding-right: 6px;
}

.topic-card__myft-meta {
	flex: 1 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.topic-card__myft-content {
	flex-grow: 1;
	margin: 0;
}

.topic-card__custom-slot {
	flex: 1 0 auto;
}

.topic-card__myft-footer {
	margin-top: oSpacingByName('s1');
	padding-top: oSpacingByName('s2');
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid oColorsByName('black-10');
}

.topic-card__excess {
	@include oTypographySans($scale: -1, $weight: 'semibold');
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

.topic-card__excess-link {
	color: oColorsByName('black');
	border-bottom: 0;

	&:hover {
		color: oColorsByName('black-80');
	}
}

.myft-grouped-topic {
	background: oColorsByName('black-5');
	border-color: oColorsByName('black-10');
}
